@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
}

body {
  background: #000000;
  color: #FCFCFC;
  font-family: var(--font-poppins), 'Poppins', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}